<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>945644632082-69h0osot1bihorqmcrqkain65rtknevj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945644632082-69h0osot1bihorqmcrqkain65rtknevj</string>
	<key>API_KEY</key>
	<string>AIzaSyCjUzsw89pTtlfR4mDltdU9Hu3qQSPU1io</string>
	<key>GCM_SENDER_ID</key>
	<string>945644632082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wattanuyan.nattaaek.swiftProject</string>
	<key>PROJECT_ID</key>
	<string>swiftproject-d8ead</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftproject-d8ead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945644632082:ios:a24bb067875aec2d</string>
	<key>DATABASE_URL</key>
	<string>https://swiftproject-d8ead.firebaseio.com</string>
</dict>
</plist>